@model List<User>
@{
    ViewData["Title"] = "Список пользователей";
}
<form asp-controller="Roles" asp-action="UserList" method="get" class="input-group mt-3">
    <div class="form-outline">
        <input class="form-control" type="search" name="search" placeholder="Поиск" aria-label="Search">
    </div>
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
<h2 class="mt-4">@ViewData["Title"]</h2>
@{
    string role = "";
    foreach (User user in Model)
    {
        @if (role != user.Role.Name)
        {
            role = user.Role.Name;
            <h5 class="text-danger">@role</h5>
        }
        string style = "";
        if (user.EmailConfirmed == false && user.LockoutEnd < DateTime.Now)
        {
            style = "background: orangered;";
        }
        <div class="d-flex row justify-content-between" style="@style">
            <div class="col-sm-8">
                <p class="m-0" style="white-space: nowrap;">
                    <img src="@user.Img" alt="avatar" style="object-fit: cover; width: 30px; height: 30px; border-radius: 50%;" />
                    @user.Email
                </p>
            </div>
            <div class="col-sm-4">
                <div class="btn-group float-sm-end">
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-userid="@user.Id">Удалить</a>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </div>
            </div>
        </div>
        <hr style="margin: 0.2rem 0;" />
    }
}