@using Microsoft.AspNetCore.Identity
@model List<UsersInRoleViewModel>
@{
    ViewData["Title"] = "Список пользователей";
}
<form asp-controller="Roles" asp-action="UserList" method="get" class="input-group mt-3">
    <div class="form-outline">
        <input class="form-control" type="search" name="search" placeholder="Поиск" aria-label="Search">
    </div>
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
<h2 class="mt-4">@ViewData["Title"]</h2>
@{
    string role = "";
    foreach (UsersInRoleViewModel user in Model)
    {
        @if (role != user.Role)
        {
            role = user.Role;
            <h5 class="text-danger">@role</h5>
        }
        string style = "";
        if (!user.IsValid)
        {
            style = "background: orangered;";
        }
        <div class="d-flex row justify-content-between" style="@style">
            <div class="col-sm-8">
                <p class="m-0" style="white-space: nowrap;">
                    <img src="@user.Img" alt="avatar" style="object-fit: cover; width: 30px; height: 30px; border-radius: 50%;" />
                    @user.Email
                </p>
            </div>
            <div class="col-sm-4">
                <div class="btn-group float-sm-end">
                    <button type="button" class="btn btn-sm btn-danger" onclick="document.getElementById('deleteUser').href = '/Roles/Delete?userId=@user.UserId'" data-bs-toggle="modal" data-bs-target="#Delete">
                        Удалить
                    </button>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userId="@user.UserId">Права доступа</a>
                </div>
            </div>
        </div>
        <hr style="margin: 0.2rem 0;" />
    }
}
<div class="modal fade" id="Delete" tabindex="-1" aria-labelledby="Delete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Edit">Удалить пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить пользователя?
                Отменить это действие будет невозможно.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a id="deleteUser" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>
<script>
    var userId
</script>