@model ProductsListViewModel
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true"/>
</head>
<body>
    <div class=" row">
        <header class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
            <h2>Все товары</h2>
            <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-100">
                @{if (Model.Filter.AllCategory != null)
                    {
                        string i;
                        foreach (string nameFilt in Model.Filter.AllCategory.Split('_'))
                        {
                            string[] filter = Model.Filter.AllCategory.Split('_').Where(val => val != nameFilt).ToArray();
                            i = filter == null ? nameFilt : string.Join('_', filter);

                            <a asp-controller="Products" asp-action="Index" asp-route-category="@i" asp-route-company="@Model.Filter.AllCompany" asp-route-country="@Model.Filter.AllCountry" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Категория товара" id="l0_b1">
                                <p class="navbar-nav schema-tags__text">@nameFilt</p>
                            </a>
                        }
                    }
                }
                @{if (Model.Filter.AllCompany != null)
                    {
                        string i;
                        foreach (string nameFilt in Model.Filter.AllCompany.Split('_'))
                        {
                            string[] filter = Model.Filter.AllCompany.Split('_').Where(val => val != nameFilt).ToArray();
                            i = filter == null ? nameFilt : string.Join('_', filter);

                            <a asp-controller="Products" asp-action="Index" asp-route-category="@Model.Filter.AllCategory" asp-route-company="@i" asp-route-country="@Model.Filter.AllCountry" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Компания производитель" id="l0_b1">
                                <p class="navbar-nav schema-tags__text">@nameFilt</p>
                            </a>
                        }
                    }
                }
                @{if (Model.Filter.AllCountry != null)
                    {
                        string i;
                        foreach (string nameFilt in Model.Filter.AllCountry.Split('_'))
                        {
                            string[] filter = Model.Filter.AllCountry.Split('_').Where(val => val != nameFilt).ToArray();
                            i = filter == null ? nameFilt : string.Join('_', filter);

                            <a asp-controller="Products" asp-action="Index" asp-route-category="@Model.Filter.AllCategory" asp-route-company="@Model.Filter.AllCompany" asp-route-country="@i" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Страна производитель" id="l0_b1">
                                <p class="navbar-nav schema-tags__text">@nameFilt</p>
                            </a>
                        }
                    }
                }
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0">
                    <div class="position-sticky pt-3 bg-light shadow">
                        <ul class="nav flex-column">

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Index">
                                    Все товары
                                </a>
                            </li>
                            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Products" asp-action="AddProduct">
                                        Добавить товар
                                    </a>
                                </li>
                            }
                        </ul>
                        <hr />
                        <p class="px-2">Категории</p>

                        @{foreach (string nameFilt in Model.FilterSort.Categories)
                            {
                                string isCheked = null;
                                string i = null;
                                if (Model.Filter.AllCategory != null)
                                {
                                    isCheked = Model.Filter.AllCategory.Contains(nameFilt) ? "checked" : "";
                                    if (Model.Filter.AllCategory.Contains(nameFilt))
                                    {
                                        isCheked = "checked";
                                        string[] filter = Model.Filter.AllCategory.Split('_').Where(val => val != nameFilt).ToArray();
                                        i = filter == null ? nameFilt : string.Join('_', filter);
                                    }
                                    else
                                    {
                                        i = Model.Filter.AllCategory + '_' + nameFilt;
                                    }
                                }
                                else
                                {
                                    i = nameFilt;
                                }
                                <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Index" asp-route-category="@i" asp-route-company="@Model.Filter.AllCompany" asp-route-country="@Model.Filter.AllCountry" style="padding:3px 11px">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" @isCheked/>
                                    @nameFilt
                                    <span class="badge bg-light text-dark rounded-pill align-text-bottom"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">27</font></font></span>
                                </a>
                            }
                        }
                        <hr />
                        <p class="px-2">Производители</p>
                        @{foreach (string nameFilt in Model.FilterSort.Companies)
                            {
                                string isCheked = null;
                                string i = null;
                                if (Model.Filter.AllCompany != null)
                                {
                                    isCheked = Model.Filter.AllCompany.Contains(nameFilt) ? "checked" : "";
                                    if (Model.Filter.AllCompany.Contains(nameFilt))
                                    {
                                        isCheked = "checked";
                                        string[] filter = Model.Filter.AllCompany.Split('_').Where(val => val != nameFilt).ToArray();
                                        i = filter == null ? nameFilt : string.Join('_', filter);
                                    }
                                    else
                                    {
                                        i = Model.Filter.AllCompany + '_' + nameFilt;
                                    }
                                }
                                else
                                {
                                    i = nameFilt;
                                }
                                <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Index" asp-route-category="@Model.Filter.AllCategory" asp-route-company="@i" asp-route-country="@Model.Filter.AllCountry" style="padding:3px 11px">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @isCheked />
                                    @nameFilt
                                    <span class="badge bg-light text-dark rounded-pill align-text-bottom"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">27</font></font></span>
                                </a>
                            }
                        }
                        <hr />
                        <p class="px-2">Страны производители</p>
                        @{foreach (string nameFilt in Model.FilterSort.Countries)
                            {
                                string isCheked = null;
                                string i = null;
                                if (Model.Filter.AllCountry != null)
                                {
                                    isCheked = Model.Filter.AllCountry.Contains(nameFilt) ? "checked" : "";
                                    if (Model.Filter.AllCountry.Contains(nameFilt))
                                    {
                                        isCheked = "checked";
                                        string[] filter = Model.Filter.AllCountry.Split('_').Where(val => val != nameFilt).ToArray();
                                        i = filter == null ? nameFilt : string.Join('_', filter);
                                    }
                                    else
                                    {
                                        i = Model.Filter.AllCountry + '_' + nameFilt;
                                    }
                                }
                                else
                                {
                                    i = nameFilt;
                                };
                                <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Index" asp-route-category="@Model.Filter.AllCategory" asp-route-company="@Model.Filter.AllCompany" asp-route-country="@i" style="padding:3px 11px">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @isCheked />
                                    @nameFilt
                                    <span class="badge bg-light text-dark rounded-pill align-text-bottom"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">27</font></font></span>
                                </a>
                            }
                        }
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 row mt-3">
                    @if (Model.AllProducts.Count() != 0)
                    {
                        @foreach (Product product in Model.AllProducts)
                        {
                            bool itemInCart = false;
                            ShopCartItem checkShopCart = null;
                            @*@Html.Partial("AllCars", product)*@
                            <div class="col-lg-4 mt-2 mb-4">
                                <div class="card shadow-sm">
                                    <div class="scale">
                                        <img class="scale card-img-top" src="@product.Img" alt="@product.Name" />
                                    </div>
                                    <div class="card-body">
                                        <h5>@product.Company @product.Name</h5>
                                        <div style="height: 62px; margin-bottom: 0.9rem; overflow: hidden">
                                            <p style="height: 52px; font-size: .9375rem;">@product.ShortDesc</p>
                                        </div>

                                        <p>Цена: @product.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a type="button" class="btn btn-outline-warning" asp-controller="Products" asp-action="Product" asp-route-name="@product.Name.Replace(" ", "-")">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Подробнее
                                                    </font>
                                                </font>
                                            </a>
                                            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                                            {
                                                <a type="button nav-link" class="text-end btn btn-outline-success" asp-controller="Products" asp-action="ChangeProduct" asp-route-id="@product.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg>
                                                </a>
                                            }

                                            @foreach (ShopCartItem shopCart in Model.ShopCart.GetShopItems())
                                            {
                                                if (shopCart.Product == product)
                                                {
                                                    checkShopCart = shopCart;
                                                    itemInCart = true;
                                                    break;
                                                }
                                            }
                                            @{string str = Model.Filter == null ? null : string.Join('_', Model.Filter);
                                                if (itemInCart)
                                                {

                                                    <a type="button nav-link" class="text-end btn btn-outline-success" asp-controller="Products" asp-action="RemoveToCart" asp-route-IdProduct="@checkShopCart.ShopCartId" asp-route-category="@Model.Filter.AllCategory" asp-route-company="@Model.Filter.AllCompany" asp-route-country="@Model.Filter.AllCountry">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                                        </svg>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">В корзине</font>
                                                        </font>
                                                    </a>
                                                } 
                                                else
                                                {
                                                    <a type="button nav-link" class="text-end btn btn-outline-success" asp-controller="Products" asp-action="AddToCart" asp-route-IdProduct="@product.Id" asp-route-category="@Model.Filter.AllCategory" asp-route-company="@Model.Filter.AllCompany" asp-route-country="@Model.Filter.AllCountry">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                                        </svg>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">В корзину</font>
                                                        </font>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h2 class="text-center mt-3">Результат поиска"нет товаров"</h2>
                    }

                </main>
            </div>
        </div>
    </div>

    <hr class="featurette-heading">
    <footer class="container">
        <p class="float-end"><a href="#">Подняться</a></p>
        <p>© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
    </footer>
</body>
</html>
