@model ProductsListViewModel
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true"/>
</head>
<body>
    <div class=" row">
        <header class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
            <h2>Все товары @Model.AllProducts.Count()</h2>
            <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-100">
                @if (Model.Filter != null)
                {
                    foreach (KeyValuePair<string, int> item in Model.Filter)
                    {
                        int categoryId = Convert.ToInt32(item.Key.Split('-')[0]) - 1;
                        int filterId = item.Value - 1;
                        string name = String.Format("filters[{0}-{1}]", categoryId, filterId);
                        string i = Model.FilterSort.FilterCategories[categoryId].Selections[filterId].Name;
                <a asp-controller="Products" asp-action="Index" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Категория товара" id="l0_b1">
                    <p class="navbar-nav schema-tags__text">@i</p>
                </a>
                    }
                }
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0">
                    <div class="position-sticky pt-3 bg-light shadow">
                        <ul class="nav flex-column">

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Index">
                                    Все товары
                                </a>
                            </li>
                            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Products" asp-action="AddProduct">
                                        Добавить товар
                                    </a>
                                </li>
                            }
                        </ul>
                        <hr />
                        @Html.AntiForgeryToken()
                        @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                        {
                            foreach (var category in Model.FilterSort.FilterCategories)
                            {
                                int counter = 1; // used to generate unique keys
                                <b class="px-2">@category.Name</b>
                                foreach (var selection in category.Selections)
                                {
                                    string i = null;
                                    @if (Model.Filter != null)
                                    {

                                        foreach (KeyValuePair<string, int> item in Model.Filter)
                                        {
                                            int categoryId = Convert.ToInt32(item.Key.Split('-')[0]) - 1;
                                            int filterId = item.Value - 1;
                                            i = Model.FilterSort.FilterCategories[categoryId].Selections[filterId].Name;
                                            Model.Filter.Remove(i);
                                            if (selection.Name == i)
                                            {
                                                break;
                                            }
                                        }
                                    }

                                    string name = String.Format("filters[{0}-{1}]", category.ID, counter++);
                                    <label class="nav-link" style="padding:3px 11px">
                                        <input class="form-check-input" type="checkbox" name="@name" value="@selection.ID"
                                               @(i == selection.Name ? "checked" : "") />
                                        <span>@selection.Name</span>
                                    </label>
                                }
                                <hr />
                            }
                            <input class="btn btn-primary" type="submit"/>
                        }
                    </div>
                </nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
                    <div class="row">
                        @if (Model.AllProducts.Count() != 0)
                        {
                            ShowProductViewModels showProduct = new ShowProductViewModels { Filter = Model.Filter, ShopCartItems = Model.ShopCartItems };
                            foreach (Product product in Model.AllProducts)
                            {
                                showProduct.Product = product;
                                @await Html.PartialAsync("ShowProduct", showProduct)
                            }
                        }
                        else
                        {
                            <h2 class="text-center mt-3" style="white-space: normal;">Результат поиска"нет товаров"</h2>
                        }
                    </div>
                </main>
            </div>
        </div>
    </div>
    <hr class="featurette-heading">
    <footer class="container">
        <p class="float-end"><a href="#">Подняться</a></p>
        <p>© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
    </footer>
</body>
</html>
