@model ProductsListViewModel
@{
    ViewData["Title"] = "Все товары";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
</head>
<body>
    <div class=" row">
        <div class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
            <h2>Все товары @Model.AllProducts.Count()</h2>
            <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-100">
                @if (Model.Filter != null)
                {
                    foreach (KeyValuePair<string, int> item in Model.Filter)
                    {
                        int categoryId = Convert.ToInt32(item.Key.Split('-')[0]) - 1;
                        int filterId = item.Value - 1;
                        string name = String.Format("filters[{0}-{1}]", categoryId, filterId);
                        string i = Model.FilterSort[categoryId].Selections[filterId].Name;
                        <a asp-controller="Products" asp-action="Index" asp-route-filters="@Model.Filter.Keys" asp-route-deleteFilter="@categoryId" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Категория товара" id="l0_b1">
                            <p class="navbar-nav schema-tags__text">@i</p>
                        </a>

                    }
                }
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0">

                    @Html.AntiForgeryToken()
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                    {
                        @await Html.PartialAsync("ProductsFilter", Model)
                    }
                </nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 mt-2 row">
                    @if (Model.AllProducts.Count() != 0)
                    {
                        ShowProductViewModel showProduct = new ShowProductViewModel { Filter = Model.Filter, ShopCartItems = Model.ShopCartItems };
                        foreach (Product product in Model.AllProducts)
                        {
                            showProduct.Product = product;
                            @await Html.PartialAsync("ShowProduct", showProduct)
                        }
                    }
                    else
                    {
                        <h2 class="text-center mt-3" style="white-space: normal;">Результат поиска"нет товаров"</h2>
                    }
                </main>
            </div>
        </div>
    </div>
</body>
</html>
