@model ProductPage
@{
    ViewData["Title"] = Model.Product.Company + " " + Model.Product.Name;
}
<link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
<section class="product-details ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 py-3 order-2 order-lg-1">
                <img class="w-100" src="@Model.Product.Img" />
            </div>
            <div class=" col-lg-6 col-xl-5 pl-lg-5 mb-5 order-1 order-lg-2">
                <h1 class="mb-4">@Model.Product.Category @Model.Product.Company @Model.Product.Name</h1>
                <h5 class="mb-4 text-muted">@Model.Product.ShortDesc</h5>
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                    <ul class="list-inline mb-2 mb-sm-0">
                        <li class="list-inline-item h4 font-weight-light mb-0">@Model.Product.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</li>
                    </ul>

                </div>
                <h6 class="mb-4 ">@Model.Product.LongDesc</h6>
                <form action="#">
                    @*<div class="row">
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                                <h6 class="detail-option-heading">Размер <span>(обязательно)</span></h6>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_0">
                                    Small
                                    <input class="input-invisible" type="radio" name="size" value="value_0" id="size_0" required="">
                                </label>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_1">
                                    Medium
                                    <input class="input-invisible" type="radio" name="size" value="value_1" id="size_1" required="">
                                </label>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_2">
                                    Large
                                    <input class="input-invisible" type="radio" name="size" value="value_2" id="size_2" required="">
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                                <h6 class="detail-option-heading">Тип <span>(обязательно)</span></h6>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="material_0">
                                    Hoodie
                                    <input class="input-invisible" type="radio" name="material" value="value_0" id="material_0" required="">
                                </label>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="material_1">
                                    College
                                    <input class="input-invisible" type="radio" name="material" value="value_1" id="material_1" required="">
                                </label>
                            </div>
                            <div class="col-12 detail-option mb-3">
                                <h6 class="detail-option-heading">Цвет <span>(обязательно)</span></h6>
                                <ul class="list-inline mb-0 colours-wrapper">
                                    <li class="list-inline-item">
                                        <label class="btn-colour" for="colour_Blue" style="background-color: #668cb9"> </label>
                                        <input class="input-invisible" type="radio" name="colour" value="value_Blue" id="colour_Blue" required="">
                                    </li>
                                    <li class="list-inline-item">
                                        <label class="btn-colour" for="colour_White" style="background-color: #fff"> </label>
                                        <input class="input-invisible" type="radio" name="colour" value="value_White" id="colour_White" required="">
                                    </li>
                                    <li class="list-inline-item">
                                        <label class="btn-colour" for="colour_Violet" style="background-color: #8b6ea4"> </label>
                                        <input class="input-invisible" type="radio" name="colour" value="value_Violet" id="colour_Violet" required="">
                                    </li>
                                    <li class="list-inline-item">
                                        <label class="btn-colour" for="colour_Red" style="background-color: #dd6265"> </label>
                                        <input class="input-invisible" type="radio" name="colour" value="value_Red" id="colour_Red" required="">
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 detail-option mb-5">
                                <label class="">Количество <span>(обязательно)</span></label>
                                <input class="form-control" type="number" value="1" min="1">
                            </div>
                        </div>*@

                    @if (Model.ShopCartItemId != 0)
                    {

                        <a type="button nav-link" class="text-end btn btn-outline-success" asp-controller="Products" asp-action="RemoveToCart" asp-route-IdProduct="@Model.Product.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">В корзине</font>
                            </font>
                        </a>
                    }
                    else
                    {
                        <a type="button nav-link" class="text-end btn btn-outline-success" asp-controller="Products" asp-action="AddToCart" asp-route-IdProduct="@Model.Product.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">В корзину</font>
                            </font>
                        </a>
                    }
                </form>
            </div>
        </div>
    </div>
</section>