@model SearchViewModel
<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
            <h2>Результат поиска @Model.ProductsListViewModel.AllProducts.Count()</h2>
            <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-100">
                @if (Model.ProductsListViewModel.Filter != null)
                {
                    foreach (KeyValuePair<string, int> item in Model.ProductsListViewModel.Filter)
                    {
                        int categoryId = Convert.ToInt32(item.Key.Split('-')[0]) - 1;
                        int filterId = item.Value - 1;
                        string name = String.Format("filters[{0}-{1}]", categoryId, filterId);
                        string i = Model.ProductsListViewModel.FilterSort[categoryId].Selections[filterId].Name;
                        <a asp-controller="Products" asp-action="Index" asp-route-filters="@Model.ProductsListViewModel.Filter" asp-route-deleteFilter="@categoryId" class="schema-tags__item m-1" data-bind="click: $root.removeTag.bind($root, tag), attr: {title: tag.facet.name}" title="Категория товара" id="l0_b1">
                            <p class="navbar-nav schema-tags__text">@i</p>
                        </a>

                    }
                }
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0">
                    <div class="position-sticky pt-3 bg-light shadow">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="Products" asp-action="Search">
                                    Все товары
                                </a>
                            </li>
                        </ul>
                        <hr />
                        @Html.AntiForgeryToken()
                        @using (Html.BeginForm("Search", "Products", FormMethod.Post))
                        {
                            foreach (var category in Model.ProductsListViewModel.FilterSort)
                            {
                                <b class="px-2">@category.Name</b>
                                foreach (var selection in category.Selections)
                                {
                                    string i = null;
                                    @if (Model.ProductsListViewModel.Filter != null)
                                    {

                                        foreach (KeyValuePair<string, int> item in Model.ProductsListViewModel.Filter)
                                        {
                                            int categoryId = Convert.ToInt32(item.Key.Split('-')[0]) - 1;
                                            int filterId = item.Value - 1;
                                            i = Model.ProductsListViewModel.FilterSort[categoryId].Selections[filterId].Name;
                                            Model.ProductsListViewModel.Filter.Remove(i);
                                            if (selection.Name == i)
                                            {
                                                break;
                                            }
                                        }
                                    }

                                    string name = String.Format("filters[{0}-{1}]", category.ID, selection.ID);
                                    <label class="nav-link" style="padding:3px 11px">
                                        <input class="form-check-input" type="checkbox" name="@name" value="@selection.ID"
                                               @(i == selection.Name ? "checked" : "") />
                                        <span>@selection.Name</span>
                                    </label>
                                }
                                <hr />
                                <input type="hidden" name="search" value="@Model.SearchName" />
                            }
                            <input class="btn btn-primary" type="submit" />
                        }
                    </div>
                </nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
                    <div class="row">
                        @if (Model.ProductsListViewModel.AllProducts.Count() != 0)
                        {
                            ShowProductViewModel showProduct = new ShowProductViewModel { Filter = null, ShopCartItems = Model.ProductsListViewModel.ShopCartItems };
                            foreach (Product product in Model.ProductsListViewModel.AllProducts)
                            {
                                showProduct.Product = product;
                                @await Html.PartialAsync("ShowProduct", showProduct)
                            }
                        }
                        else
                        {
                            <h2 class="text-center mt-3" style="white-space: normal;">Результат поиска"нет товаров"</h2>
                        }
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>