@model SearchViewModel
@{
    ViewData["Title"] = Model.SearchName + " - Результат поиска";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
            <h2>Результат поиска "@Model.SearchName" @Model.ProductsListViewModel.AllProducts.Count()</h2>
            <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="filterHeader" class="w-100">
                @await Html.PartialAsync("FilterHeader", Model.ProductsListViewModel)
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0">
                    @Html.AntiForgeryToken()
                    @using (Html.BeginForm("Search", "Products", FormMethod.Get))
                    {
                        <input type="hidden" name="search" value="@Model.SearchName" />
                        @await Html.PartialAsync("ProductsFilter", Model.ProductsListViewModel)
                    }
                </nav>
                <main class="px-md-4 col-md-10 mt-2" style="position: relative">
                    <div id="content" class="row">
                        @if (Model.ProductsListViewModel.AllProducts.Count() != 0)
                        {
                            foreach (ShowProductViewModel showProduct in Model.ProductsListViewModel.AllProducts)
                            {
                                @await Html.PartialAsync("ShowProduct", showProduct)
                            }
                        }
                        else
                        {
                            <h2 class="text-center mt-3" style="white-space: normal;">Результат поиска"нет товаров"</h2>
                        }
                    </div>
                    <div id="loaderDiv" class="loading" style="display: none"></div>
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/modules/checkboxFilter.js"></script>
    <script src="~/js/modules/products.js"></script>
    <script src="~/js/modules/shopCart.js"></script>
    <script>
        var xhr;
        function filterProducts () {
            var filtersHref = [];
            var list = [];
            $('#filterHeader').empty();
            var searchName = '@Model.SearchName';
            $('.form-check-input:checked').each(function () {
                filtersHref.push('&filters=' + $(this).val());
                list.push($(this).val());
                $('#filterHeader').append(showFilter($(this)));
            });
            var winLocHref = window.location.href.split("&");
            history.pushState(null, null, winLocHref[0] + filtersHref.join(''));
            if (xhr) {
                xhr.abort();
            }
            xhr = $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchAjax", "Products")',
                beforeSend: function () {
                    $("#loaderDiv").show();
                },
                data: {
                    q : searchName,
                    filters: list
                },
                success: function (result) {
                    $("#loaderDiv").hide();
                    $('#content').empty();
                    if (JSON.stringify(result) != '[]') {
                        $.each(result,
                            function (num, item) {
                                $('#content').append(ShowProduct(item, '@(User.IsInRole("admin") || User.IsInRole("moderator"))'));
                            });
                    }
                    else {
                        $('#content').append(resultProductsEmpty());
                    }
                },
                error: function (err) {
                    if (err.statusText != 'abort') {
                        $("#loaderDiv").hide();
                        $('#content').empty();
                        $('#content').append(productsErrorResult());
                    }
                }
            });
        };
    </script>
</body>