@model Order
@{
    string style = null;
    if (User.IsInRole("moderator"))
    {
        style = Model.Courier != null ? "background-color: #E8E8E8" : null;
    }
    <div class="mt-2 mb-2 card px-3 py-2" style="@style">
        <h5 class=" text-danger">@Model.Email</h5>
        <div class="d-flex row">
            <div class="col-lg-4">
                <p>
                    <b>Время заказа: </b>@Model.OrderTime
                </p>
                <p>
                    <b>Номер заказчика: </b>@Model.Phone
                </p>
                @if (User.IsInRole("moderator"))
                {
                    @if (Model.Courier != null)
                    {
                        <p>
                            <b class="text-success">Курьер: </b>@Model.Courier.Email
                        </p>
                    }
                }
            </div>
            <div class="col-lg-4">
                @foreach (OrderDetail orderDetail in Model?.OrderDetails)
                {
                    <a asp-controller="Catalog" asp-action="Product" asp-route-name="@orderDetail.Product.Name.Replace(" ", "-")" asp-route-id="@orderDetail.Product.Id" class="nav-link text-dark p-0">
                        <b>@orderDetail.Product.Category:</b> @orderDetail.Product.Company @orderDetail.Product.Name
                    </a>
                }
            </div>
            <div class="btn-group col-lg-4" style="display: flex; align-items: flex-end;">
                <a type="button" class="btn btn-outline-warning" asp-controller="Courier" asp-action="OrderDetail" asp-route-idOrder="@Model.Id">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Подробнее
                        </font>
                    </font>
                </a>
                @if (User.IsInRole("moderator"))
                {
                    <a type="button" class="btn btn-outline-success" asp-controller="Courier" asp-action="Edit" asp-route-idOrder="@Model.Id">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Выбрать курьера
                            </font>
                        </font>
                    </a>
                    <a type="button" class="btn btn-outline-danger" asp-controller="Courier" asp-action="Delete" asp-route-idOrder="@Model.Id">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Удалить заказ
                            </font>
                        </font>
                    </a>
                }
                else if (User.IsInRole("courier"))
                {
                    <a type="button" class="btn btn-outline-success" asp-controller="Courier" asp-action="Delete" asp-route-idOrder="@Model.Id">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Заказ доставлен
                            </font>
                        </font>
                    </a>
                    <a type="button" class="btn btn-outline-danger" asp-controller="Courier" asp-action="Renouncement" asp-route-idOrder="@Model.Id">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Отказаться
                            </font>
                        </font>
                    </a>
                }
            </div>
        </div>
    </div>
}