@model List<Order>
<h2>Заказы пользователей</h2>
<main>
    @{
        foreach (var order in Model)
        {
            string style;
            if (order.Courier != null)
            {
                style = "background-color: #E8E8E8";
            }
            else
            {
                style = "";
            }
            <div class="mt-2 mb-2" style="@style">
                <h5 class=" text-danger">@order.Email</h5>
                <div class="d-flex row">
                    <div class="col-lg-4">
                        <p>
                            <b>Время заказа: </b>@order.OrderTime
                        </p>
                        <p>
                            <b>Номер заказчика: </b>@order.Phone
                        </p>
                        @if (order.Courier != null)
                        {
                            <p>
                                <b class="text-success">Курьер: </b>@order.Courier.Email
                            </p>
                        }
                    </div>
                    <div class="col-lg-3">
                        @foreach (OrderDetail orderDetail in order.OrderDetails)
                        {
                            <p>
                                <b>@orderDetail.Product.Category:</b> @orderDetail.Product.Name
                            </p>
                        }
                    </div>
                    <div class="btn-group col-lg-4" style="display: flex; align-items: flex-end;">
                        <a type="button" class="btn btn-outline-warning" asp-controller="Courier" asp-action="OrderDetail" asp-route-idOrder="@order.Id">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Подробнее
                                </font>
                            </font>
                        </a>
                        <a type="button" class="btn btn-outline-success" asp-controller="Courier" asp-action="Edit" asp-route-idOrder="@order.Id">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Выбрать курьера
                                </font>
                            </font>
                        </a>
                        <a type="button" class="btn btn-outline-danger" asp-controller="Courier" asp-action="Delete" asp-route-idOrder="@order.Id">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Удалить заказ
                                </font>
                            </font>
                        </a>
                    </div>
                </div>
            </div>
            <hr style="margin: 0rem 0;" />
        }
    }
</main>
