@model Product

<div class="col-lg-4 mt-2 mb-4">
    <div class="col">
        <div class="card shadow-sm">
            <div class="scale">
                <img class="scale card-img-top w-100" src="@Model.img" alt="@Model.Name" />
            </div>
            <div class="card-body">
                <h4>Модель: @Model.Name</h4>
                <p>@Model.ShortDesc</p>
                <p>Цена: @Model.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a type="button" class="btn btn-outline-warning" href="#">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Подробнее
                            </font>
                        </font>
                    </a>
                    @*@if (Model.)*@
                    <a type="button nav-link" class="text-end btn btn-outline-success" asp-controller="Cars" asp-action="AddToCart" asp-route-id="@Model.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                        </svg>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">В корзину</font>
                        </font>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>