@model News

<div class="card__news mt-4">
    <div class="card-img__news">
        <img class="bd-placeholder-img" src="@Model.Img" alt="@Model.Img" />
    </div>
    <div class="card-body__news">
        <div class="box-news card-header__news">
            <div class="">
                <h4 class="card-title" style="line-height: 22px;">@Model.Name</h4>
                <p class="text-header__news">@Model.Desc</p>
            </div>
        </div>
        <div class="card-footer__news">
            <a href="#">Подробнее</a>
            <p class="float-end d-flex mt-1 mb-0">@Model.CreateData.ToString("dd.MM.yy")</p>
        </div>
    </div>
</div>