@model IEnumerable<CaruselItem>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        @{
            int i = 0;
            string active;
            foreach (CaruselItem car in Model)
            {
                if (i == 0)
                {
                    active = "active";
                }
                else
                {
                    active = "";
                }
                <li data-bs-target="#myCarousel" data-bs-slide-to=@i class="@active"></li>
                i++;
            }
        }
    </ol>
    <div class="carousel-inner">
        @{
            i = 0;
            foreach (CaruselItem productImage in Model)
            {
                if (i == 0)
                {
                    active = "active";
                }
                else
                {
                    active = "";
                }
                string href = "";
                if (productImage.Href != null)
                {
                    href = productImage.Href;
                }
                else
                {
                    href = Url.Action("Details", "Home", new { id = productImage.Id, name = productImage.Name }, null);
                }
                <div class="carousel-item @active">
                    <img src="@productImage.Img" alt="@productImage.Img" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@productImage.Name</h1>
                            <p>@productImage.Desc</p>
                            <p><a class="btn btn-lg btn-primary" href="@href" role="button">Перейти</a></p>
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>