@model ShowProductViewModel

<div class="col-lg-4 mt-2 mb-2">
    <div class="card shadow-sm">
        <div class="scale">
            <a asp-controller="Catalog" asp-action="Product" asp-route-name="@Model.Product.ProductType.Name.Replace(" ", "-")" asp-route-id="@Model.Product.Id">
                <img class="scale card-image w-100" loading="lazy" src="@Model.Product.Img" alt="@Model.Product.ProductType.Name" />
            </a>
        </div>
        <div class="card-body">
            <div class="box">
                <div class="h-auto">
                    <h5>@Model.Product.ProductType.Company @Model.Product.ProductType.Name</h5>
                    <p style="font-size: .9375rem; margin-bottom: 0.9rem;">@Model.Product.ShortDesc</p>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <p class="mx-0"><b>Цена: @Model.Product.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</b></p>
@*                @if (Model.Product.IsFavourite)
                {
                    <p class="mx-0 text-danger">Рекомендуем</p>
                }*@
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a type="button" class="btn btn-outline-warning" asp-controller="Catalog" asp-action="Product" asp-route-name="@Model.Product.ProductType.Name.Replace(" ", "-")" asp-route-id="@Model.Product.Id">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Подробнее
                        </font>
                    </font>
                </a>
                @if (User.IsInRole("moderator"))
                {
                    <a type="button nav-link" icon="buttonCart" class="text-end btn btn-outline-success" asp-controller="Catalog" asp-action="Edit" asp-route-id="@Model.Product.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                }
                @await Html.PartialAsync("ShopCartButtons", Model)
            </div>
        </div>
    </div>
</div>
