@model ProductsListViewModel

<div class="position-sticky py-2 bg-light shadow">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Catalog" asp-action="Index">
                Все товары
            </a>
        </li>
        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Catalog" asp-action="Create">
                    Добавить товар
                </a>
            </li>
        }
    </ul>
    @foreach (var category in Model?.FilterSort)
    {
        <hr />
        <b class="px-2">@category.Name</b>
        foreach (var selection in category?.Selections)
        {
            string filterId = null;
            string inputId = String.Format("{0}-{1}", category.ID, selection.ID);

            filterId = Model.Filter.FirstOrDefault();
            if (filterId == inputId)
            {
                Model.Filter.Remove(filterId);
            }
            <label class="nav-link" style="padding: 3px 11px">
                <input class="form-check-input" id="@inputId" onclick="filterProducts()" type="checkbox" name="filters" value="@selection.Name"
                       @(filterId == inputId ? "checked" : "") />
                <span>@selection.Name</span>
            </label>
        }
    }
</div>
