<h1>Все автомобили</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-2 row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @{
        foreach (var car in Model.AllCars)
        {
        <div class="col col-lg-4">
            <div class="scale">
                <img class="card-img-top scale" height="220" src="@car.img" alt="@car.Name" >
            </div>
            <div class="card shadow-sm card-body">
                <h4 class="card-text">Модель: @car.Name </h4>
                <p>@car.ShortDesc</p>
                <p>Цена: @car.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
                <h3><a class="btn btn-outline-warning" href="#">Подробнее</a></h3>
            </div>
        </div>
            }
        }
</div>