<h1>Все автомобили</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-3">
    @{
        foreach (var car in Model.AllCars)
        {
        <div class="col-lg-4 mt-2 mb-4">
            <div class="scale">
                <img class="scale card-img-top" height="230" src="@car.img" alt="@car.Name" />
            </div>
            <div class="card-body shadow-sm border-1">
                <h4>Модель: @car.Name</h4>
                <p>@car.ShortDesc</p>
                <p>Цена: @car.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</p>
                <h3><a class="btn btn-lg btn-outline-warning" href="#">Подробнее</a></h3>
            </div>
        </div>
            }
        }
</div>
