@model List<ShopCartItem>
@{
    ViewData["Title"] = "Корзина";
}
@section Css{

    <link rel="stylesheet" href="~/css/shopCart.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css" asp-append-version="true" />*@
    }
    <div class="mt-2" id="shopCart">

        <h1>@ViewData["Title"]</h1>

        <div class="cart_items">
            <ul>

            @if (Model.Count != 0)
            {
                foreach (ShopCartItem el in Model)
                {
                    <li id="shopCartItem" class="cart_item clearfix shadow-sm card text-center" style="flex-direction: row">
                        <a class="cart_item_image" asp-controller="Catalog" asp-action="Product" asp-route-name="@el.Product.ProductType.Name.Replace(" ", "-")" asp-route-id="@el.Product.Id"><img src="@el.Product.Img" alt=""></a>
                        <div class="px-2 cart_item_info d-flex flex-md-row flex-column justify-content-between">
                            <div class="col-lg-3 cart_info_col">
                                <div class="cart_item_title">Наименование</div>
                                <div class="cart_item_text">
                                    <a class="text-dark" asp-controller="Catalog" asp-action="Product" asp-route-name="@el.Product.ProductType.Name.Replace(" ", "-")" asp-route-id="@el.Product.Id">@el.Product.ProductType.Name</a>
                                </div>
                            </div>
                            <div class="col-lg-3" style="text-align: -webkit-center;">
                                <div class="cart_item_title">Количество</div>
                                <div class="qty">
                                    <span class="minus bg-dark">-</span>
                                    <input type="number" class="count cart_item_text mt-0" min="1" value="1">
                                    <span class="plus bg-dark">+</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cart_item_title">Цена</div>
                                <div class="cart_item_text price" id="price">@el.Price</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cart_item_title">Сумма</div>
                                <div class="cart_item_text count_price" id="count_price">@el.Price</div>
                            </div>
                        </div>
                        <a class="btn float-end ps-0" onclick="removeItemToCart($(this), @el.Product.Id, shopCartItem)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                            </svg>
                        </a>
                    </li>
                }
                <div class="order_total d-flex justify-content-between align-items-center">
                    <div>
                        <a id="orderButton" class="btn btn-danger position-right btn-lg" asp-controller="Order" asp-action="Checkout">Оформить заказ</a>
                    </div>
                    <div class="order_total_content text-right">
                        <div class="order_total_title p-0">Сумма заказа:</div>
                        <div class="cprice order_total_amount p-0">0</div>
                    </div>
                </div>

            }
            else
            {
                <h2 class="text-center mt-3">Добавьте что-нибудь в корзину, чтобы она не была пустая</h2>
            }

        </ul>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/modules/ShopCart.js"></script>
}

