@model HomeViewModel
<head>
    <title>Carousel</title>
    <link rel="stylesheet" href="~/css/carousel.css" type="text/css" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
    <main>
        <div id="myCarousel" class="pt-2 carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    int i = 0;
                    string active;
                    foreach (Car car in Model.FavCars)
                    {
                        if (i == 0)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        <li data-bs-target="#myCarousel" data-bs-slide-to=i class="@active"></li>
                        i++;
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    i = 0;
                    foreach (HomeCar carImage in Model.AutoOnTheCover)
                    {
                        if (i == 0)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        <div class="carousel-item @active">
                            <svg class="" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <img class="exmpl wrapper scale card-img-top" height="130" src="@carImage.Img" alt="@carImage.Img" />

                            </svg>

                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>@carImage.ShortDesc.</h1>
                                    <p>@carImage.LongDesc.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                @{
                    foreach (HomeCar carImage in Model.AutoOnTheCover)
                    {
                        <div class="col-lg-4">
                            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                            <h2>Heading</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                    }
                }
                @{
                    i = 0;
                    string textOrder;
                    string imgOrder;
                    foreach (HomeCar carImage in Model.AutoOnTheCover)
                    {
                        <hr class="featurette-divider">
                        if (i % 2 == 1)
                        {
                            textOrder = "order-md-2";
                            imgOrder = "order-md-1";
                        }
                        else
                        {
                            textOrder = "";
                            imgOrder = "";
                        }
                        <div class="row featurette">
                            <div class="col-md-7 @textOrder">
                                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            </div>
                            <div class="col-md-5 @imgOrder">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                            </div>
                        </div>
                        i++;
                    }
                }

                <hr class="featurette-heading">
                <!-- /END THE FEATURETTES -->
            </div>
        </div>

        <footer class="container">
            <p class="float-end"><a href="#">Подняться</a></p>
            <p>© 2021 Company, Inc. · <a href="#">Конфендициальность</a> · <a href="#">Условия</a></p>
        </footer>
    </main>
</body>