@model News
@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
}

<h2 class="text-center">@Html.DisplayFor(model => model.Name)</h2>
<div class="row">
    <div class="w-100 text-center">
        <img style="object-fit: cover; height: 350px; width: 75%; " src="@Html.DisplayFor(model => model.Img)" alt="@Html.DisplayFor(model => model.Name)" />
    </div>
    <p class="mb-3">Дорогие покупатели:</p>
    @foreach (var line in Model.Text.Split("\r\n"))
    {
        <p style="text-indent: 1.5em; text-align: justify;">
            @line
        </p>
    }
    <p class="w-100 text-end">
        @Model.CreateData.ToString("dd.MM.yyyy")
    <p />
</div>

@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
}

