@model ShowProductViewModel
@{
    ViewData["Title"] = Model.Product.ProductType.Company + " " + Model.Product.ProductType.Name;
}
@section Css{
    <link rel="stylesheet" href="~/css/product.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/slick/slick-theme.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/slick/slick.css" type="text/css" asp-append-version="true" />
}
<section class="product-details mt-2">
    <div class="container-fluid">
        <h1 class="product__title">@Model.Product.ProductType.Category @Model.Product.ProductType.Company @Model.Product.ProductType.Name</h1>
        <div class="row">
            <div class="col-lg-6 product__slider">
                <div class="slider-for">
                    @foreach(var img in Model.Product.ProductImages)
                    {
                        <div>
                            <img height="455" width="455" src="@img.pathImg" />
                        </div>
                    }
                </div>
                <div class="slider-nav">
                    @foreach(var img in Model.Product.ProductImages)
                    {
                        <div class="product__slider-item">
                            <img src="@img.pathImg" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 product__desc">
                <div class="title">Краткое описание</div>
                <div class="desc">
                    @Model.Product.ShortDesc
                </div>
                <div class="prices">
                    <span>Цена</span>
                    <p>
                        @Model.Product.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))
                    </p>
                </div>
                <form action="#">
                    @await Html.PartialAsync("ShopCartButtons", Model)
                </form>
            </div>
        </div>
        <section class="bg-light py-2 ">
            <div class="main-options__title">
                Основные характеристики
            </div>
            <div class="main-options__content row">
                <div class="col-lg-8">
                    @foreach (var att in Model.Product.AttributeValues)
                    {
                        <div class="row m-0 py-2 attribute">
                            <p class="col-sm-5" style="align-self: center;">@att.Attribute.Name</p>
                            <p class="col-sm-5">@att.Value</p>
                        </div>
                    }
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/slick/slick.min.js"></script>
    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',
            responsive: [
                {
                    breakpoint: 550,
                    settings: {
                        slidesToShow: 1,
                        dots: true,
                        arrows: false
                    }
                }
            ]
        });

        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            focusOnSelect: true,
            vertical: true,
            verticalSwiping: true,
            nextArrow: '<div class="slider-b slider-b-right"><i class="fa fa-angle-down car-arrow-left car-arrow"></i></div>',
            prevArrow: '<div class="slider-b slider-b-left"><i class="fa fa-angle-up car-arrow-right car-arrow"></i></div>'
        });
    </script>
    <script type="text/javascript" src="~/js/modules/shopCart.js" asp-append-version="true"></script>
}