@model SearchViewModel
@{
    ViewData["Title"] = Model.SearchName + " - Результат поиска";
}
@section Css{
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" asp-append-version="true" />
}
<div class="row">
    <div class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow">
        <h2>Результат поиска "@Model.SearchName" @Model.ProductsListViewModel.AllProducts.Count()</h2>
        <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="filterHeader" class="w-100">
            @await Html.PartialAsync("FilterHeaderPartial", Model.ProductsListViewModel)
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-lg-2 d-lg-block sidebar collapse" style="padding:0">
                @Html.AntiForgeryToken()
                @using (Html.BeginForm("Search", "Catalog", FormMethod.Get))
                {
                    <input type="hidden" name="search" value="@Model.SearchName" />
                    @await Html.PartialAsync("ProductsFilterPartial", Model.ProductsListViewModel)
                }
            </nav>
            <main class="ps-lg-4 pe-lg-0 col-md-10 mt-2" style="position: relative">
                <div id="content" class="row">
                    @if (Model.ProductsListViewModel.AllProducts.Count() != 0)
                    {
                        foreach (ShowProductViewModel showProduct in Model.ProductsListViewModel.AllProducts)
                        {
                            @await Html.PartialAsync("ProductCardPartial", showProduct)
                        }
                    }
                    else
                    {
                        <h2 class="text-center mt-3" style="white-space: normal;">Результат поиска"нет товаров"</h2>
                    }
                </div>
                <div id="loaderDiv" class="loading" style="display: none"></div>
            </main>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" async></script>
    <script src="~/js/modules/checkboxFilter.js"></script>
    <script src="~/js/modules/products.js"></script>
    <script src="~/js/modules/shopCart.js"></script>
    <script>
        var searchName = '@Model.SearchName';
        var isAdminOrModer = '@(User.IsInRole("admin") || User.IsInRole("moderator"))';
    </script>
}